<h2>Patient List</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>S.No.</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>DOB</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let patient of patients, let idx = index">
            <td>{{idx+1}}</td>
            <td>{{patient.firstName}}</td>
            <td>{{patient.lastName}}</td>
            <td>{{patient.dob}}</td>
            <td>{{patient.email}}</td>
            <td>{{patient.phoneNumber}}</td>
            <td>
                <button (click) = "updatePatient(patient.patientId)" class = "btn btn-info">Update</button>
            </td>
        </tr>

    </tbody>
</table>
