<div class = "container">
    <h2>Patient Details</h2>
    <div>
       Patient Id: <span>{{patient.patientId}}</span>
    </div>
    <div>
        First Name: <span>{{patient.firstName}}</span>
    </div>
    <div>
        First Name: <span>{{patient.lastName}}</span>
    </div>
    <div>
        Date Of Birth: <span>{{patient.dob}}</span>
    </div>
    <div>
        Email: <span>{{patient.email}}</span>
    </div>
    <div>
        Phone: <span>{{patient.phoneNumber}}</span>
    </div>
    <div>
        <button (click)="backToPatientList()" class="btn btn-warning">BACK</button>
    </div>
</div>
